/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-color-primary: #0096ff; /* Bright Blue */
  --ion-color-primary-rgb: 0, 150, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0080e0;
  --ion-color-primary-tint: #33abff;
  --ion-color-primary-lite: #c4e7ff;

  --ion-color-secondary: #32cd32; /* Lime Green */
  --ion-color-secondary-rgb: 50, 205, 50;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2cb82c;
  --ion-color-secondary-tint: #59d659;
  --ion-color-secondary-lite: #9ae79a;

  --ion-color-tertiary: #ff69b4; /* Hot Pink */
  --ion-color-tertiary-rgb: 255, 105, 180;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e0529c;
  --ion-color-tertiary-tint: #ff7fbf;
  --ion-color-tertiary-lite: #f9a9d1;

  --ion-color-quaternary: #ff4500; /* Orange Red */
  --ion-color-quaternary-rgb: 255, 69, 0;
  --ion-color-quaternary-contrast: #ffffff;
  --ion-color-quarternary-contrast-rgb: 255, 255, 255;
  --ion-color-quaternary-shade: #d13c00;
  --ion-color-quarternary-tint: #ff5e1a;
  --ion-color-quaternary-lite: #ff8c66;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffff00; /* Yellow */
  --ion-color-warning-rgb: 255, 255, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0e000;
  --ion-color-warning-tint: #ffff33;
  --ion-color-warning-lite: #eded8b;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  --ion-color-danger-lite: #f48a8a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  /* 
  --ion-text-color: #1f6767;
  --ion-text-color-rgb: 19, 114, 136;

  --ion-color-step-50: #f9f9f9;
  --ion-color-step-100: #f4f4f4;
  --ion-color-step-150: #efefef;
  --ion-color-step-200: #e8e8e8;
  --ion-color-step-250: #e3e3e3;
  --ion-color-step-300: #dddddd;
  --ion-color-step-350: #d8d8d8;
  --ion-color-step-400: #d3d3d3;
  --ion-color-step-450: #cecece;
  --ion-color-step-500: #c8c8c8;
  --ion-color-step-550: #c3c3c3;
  --ion-color-step-600: #bebebe;
  --ion-color-step-650: #b9b9b9;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #aeaeae;
  --ion-color-step-800: #a9a9a9;
  --ion-color-step-850: #a4a4a4;
  --ion-color-step-900: #9e9e9e;
  --ion-color-step-950: #999999;
  --ion-color-step-1000: #949494; */
}
